@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans-Regular.woff') format('woff');  
}   

svg{
    padding: none;
    margin: none;
    top:0px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.opacityzero{
    opacity: 0;
}

.hidden{
    display:none;
}

html{
    background-color: black;
}

#fond{
    height: 100vh !important;
}