#public > g > g > path {
    fill:#333328;
}

#public2 > g > g > path{
    fill:#333328;
}

#public{
    transition: opacity 1s;
    opacity: 0;
}

#seats{
    transition: opacity 1s;
    opacity: 0;
}

#bravo-credits{
    transition: opacity 1s;
    opacity: 0;
}

#nuitAmericaine{
    transition: opacity 1s;
    opacity: 0;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: blue;
    mix-blend-mode: multiply;
}

#bravo-P1-1{
    fill: #333328;
}

#bravo-P2-1{
    fill:#333328;
}

#petitapplaudit{
    transition: opacity 1s;
    opacity: 0;
}

#pasapplaudit{
    transition: opacity 1s;
    opacity: 0;
}

#bravo-titre{
    display: inline;
    animation : bravo-showAndHideTitle 3s;
    animation-fill-mode: forwards;
}

#bravo-P1-1-mainDroite{
    animation : clapDroite 1.5s infinite steps(1);
}

#bravo-P1-1-mainGauche{
    animation : clapGauche 1.5s infinite steps(1) reverse;
}

#bravo-P1-2-mainDroite{
    animation : clapDroite 1.5s infinite steps(1);
}

#bravo-P1-2-mainGauche{
    animation : clapGauche 1.5s infinite steps(1) reverse;
}

#bravo-P1-5-mainDroite{
    animation : clapDroite 1.5s infinite steps(1);
}

#bravo-P1-5-mainGauche{
    animation : clapGauche 1.5s infinite steps(1) reverse;
}

.larme1{
    animation : cry 6s ;
    animation-fill-mode: backwards ease-in;
}

.larme2{
    animation : cry 6s ;
    animation-delay: .8s;
    animation-fill-mode: backwards ease-in;
}

#phylacteres{
    opacity: 1;
    display: inline;
}

#bravo-bulleDroite{
    transition: opacity .5s;
    opacity: 0;
    display: inline;
}

#bravo-bulleGauche{
    transition: opacity .5s;
    opacity: 0;
    display: inline;
}

#bravo-bulleGauchePetit{
    transition: opacity .5s;
    opacity: 0;
    display: inline;
}

#bravo-clap-1-closed{
    animation : clapPublic .5s infinite steps(1);
}

#bravo-clap-1-open{
    animation : clapPublic .5s infinite reverse steps(1);
}

#bravo-clap-2-closed{
    animation-delay: .3s;
    animation : clapPublic .4s infinite steps(1);
}

#bravo-clap-2-open{
    animation-delay: .3s;
    animation : clapPublic .4s infinite reverse steps(1);
}

#bravo-clap-3-closed{
    animation-delay: .15s;
    animation : clapPublic .6s infinite steps(1);
}

#bravo-clap-3-open{
    animation-delay: .15s;
    animation : clapPublic .6s infinite reverse steps(1);
}

.forceBlack{
    fill:black;
}

@keyframes bravo-showAndHideTitle {
    0% {opacity : 0}
    15% {opacity : 1}
    85% {opacity : 1}
    100% {opacity: 0}
}

@keyframes clapDroite {
    0%, 100%{transform : translateX(0vw)}
    50% {transform : translateX(.5vw)}
}

@keyframes clapGauche {
    0%, 100%{transform : translateX(0vw)}
    50% {transform : translateX(.5vw)}
}

@keyframes clapPublic {
    0%, 100%{opacity:0}
    50%{opacity:1}
}

@keyframes cry {
    0%{opacity:0;}
    40%{opacity:1;}
    60%{transform: translateY(0vh); opacity:1;}
    80%{opacity:0;}
    100%{transform: translateY(10vh); opacity:0;}
}