@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans-Regular.woff') format('woff');  
}   

.touchMarker {
    position:absolute;
    font-family:'ClearSans', sans-serif;
    color:white;
    font-size:xx-large;
    transform: translate(25px, -25px);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    transition: all 2s;
}

.opacityzero{
    opacity: 0;
}

#fond{
    height: 100vh !important;
}

svg{
    padding: none;
    margin: none;
    top:0px;
    left: 0px;
    position: absolute;
    width: 100%;
}


.hidden{
    opacity : 0;
    transition: opacity 1s;
}

#touchhand{
    animation: fastTouch linear infinite .3s;
}

#presshand{
    animation: slowTouch linear infinite .6s;
}

#co2-credits{
    transition: opacity 1s;
}

#co2-titre{
    animation : showAndHideTitle 3s;
}

#co2-bg{
    transition: opacity .5s;
}

#carbody{
    animation : infinite steps(1) carcasse 1.5s;
    animation-delay : .3s;
}

#wheels{
    animation : infinite steps(1) wheeels .5s;
    animation-direction: reverse;
}

#co2-samuel{
    animation : infinite steps(1) carcasse 1.5s;
}

#dentelles{
    animation : ease-out dentelles 120s;
    animation-fill-mode: forwards;  
}

#house{
    mix-blend-mode: multiply;
}

#trees{
    mix-blend-mode: multiply;
}

#radar{
    transition: translateX 10s;
}

#bulle{
    transition: opacity .5s;
}

.car{
    animation: moveIn 5s;
    animation-fill-mode: forwards;  
}

.st99{
    mix-blend-mode: multiply;
}

#text{
    margin-right:500px
}

@keyframes showAndHideTitle {
    0% {opacity : 0}
    15% {opacity : 1}
    85% {opacity : 1}
    100% {opacity: 0;}
}

@keyframes carcasse {
    0%, 100% {transform : translateY(0vh)}
    50% {transform : translateY(-1vh)}
}

@keyframes dentelles {
    100% {transform:translateX(100vw)}
}

@keyframes wheeels {
    0%, 100% {transform: translateY(0vh)}
    50% {transform: translateY(-2vh)}
} 

@keyframes house {
    100% {transform: translateX(300vw)}
} 

@keyframes flash {
    1% { opacity: 1; }
    50% { opacity: 1; }
    100% {opacity : 0}
}

@keyframes moveIn{
    0%, 50% {transform: translateX(200vw);}
    100% {transform : translateX(0vw);}
}

@keyframes carOut{
    100% {transform: translateX(200vw);}
}

@keyframes fastTouch{
    0, 100%{transform: translateY(0vh);}
    50%{transform:translateY(2vh);}
}

@keyframes slowTouch {
    0%, 25%, 75%, 100%{transform: translateY(0vh);}
    50%{transform:translateY(2vh);}
}