.eventCatcher {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	cursor: pointer;
}

#credits{
    transition: opacity 1s;
}

#titre{
    animation : showAndHideTitle 3s;
}

#bg{
    transition: opacity .5s;
}

#carbody{
    animation : infinite steps(1) carcasse 1.5s;
    animation-delay : .3s;
}

#wheels{
    animation : infinite steps(1) wheeels .5s;
    animation-direction: reverse;
}

#samuel{
    animation : infinite steps(1) carcasse 1.5s;
}

#dentelles{
    animation : ease-out dentelles 120s;
    animation-fill-mode: forwards;  
}

#house{
    mix-blend-mode: multiply;
}

#trees{
    mix-blend-mode: multiply;
}

#radar{
    transition: translateX 10s;
}

#bulle{
    transition: opacity .5s;
}

.car{
    animation: moveIn 5s;
    animation-fill-mode: forwards;  
}

.st99{
    mix-blend-mode: multiply;
}

#text{
    margin-right:500px
}

@keyframes showAndHideTitle {
    0% {opacity : 0}
    15% {opacity : 1}
    85% {opacity : 1}
    100% {opacity: 0;}
}

@keyframes carcasse {
    0%, 100% {transform : translateY(0vh)}
    50% {transform : translateY(-1vh)}
}

@keyframes dentelles {
    100% {transform:translateX(100vw)}
}

@keyframes wheeels {
    0%, 100% {transform: translateY(0vh)}
    50% {transform: translateY(-2vh)}
} 

@keyframes house {
    100% {transform: translateX(300vw)}
} 

@keyframes flash {
    1% { opacity: 1; }
    50% { opacity: 1; }
    100% {opacity : 0}
}

@keyframes moveIn{
    0%, 50% {transform: translateX(200vw);}
    100% {transform : translateX(0vw)}
}

@keyframes carOut{
    100% {transform: translateX(200vw);}
}