.homeDiv{
    margin: 5vw;
    font-family: ClearSans;
    color:white;
    max-width: 50vw;
}

li{
    font-size: xx-large;
}

a{
    font-style: italic;
    color:red;
}

a:visited{
    color:grey;
}

span{
    font-style: italic;
}

.count{
    display: none;
    transition: opacity .5s;
    opacity: 0;
    color:rgb(0, 255, 0);
}

.count:nth-child(2){
    color:grey;
}