@font-face {
    font-family: fraktur;
    src: url('/fonts/Fraktur.ttf') format('truetype');  
}   

#theLoser-titre{
    animation : showAndHideTitle 3s;
}

.smokeLR{
    animation: smokeFLoatLR infinite linear 1s;
}

.smokeFloat{
    animation: smokeFade linear 2s, smokeFloatTop linear 4s;
    animation-fill-mode: forwards;
}

@keyframes smokeFLoatLR {
    0%, 50%, 100%{transform:translateX(0vw)}
    25%{transform:translateX(-1vw)}
    75%{transform:translateX(1vw)}
}

@keyframes smokeFloatTop {
    0%{transform:translateY(0vw)}
    100%{transform:translateY(-15vh)}
}

@keyframes smokeFade {
    0%{opacity : 0.58}
    100%{opacity : 0}
}

#nez-2-2-c{
    animation-delay: 250ms;
}

#nez-2-3-c{
    animation-delay: 250ms;
}

#nez-2-4-c{
    animation-delay: 250ms;
}

#theLoser-credits{
    transition: opacity 3s;
}

#theLoser-bg{
    transition: opacity 3s;
}

#p1{
    transition: opacity 3s;
}

#p2{
    transition: opacity 3s;
}